<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./assets/style.css" />
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <p>{{ details }}</p>

        <div class="cart">
            <h2>🛒 Mon Panier {{cart.length}}</h2>

            <ul>
                <li v-for="item in cart" :key="item.id">
                    <p>{{item.name}}</p>
                    <button class="remove-btn" @click="removeFromCart(item, index)">❌</button>
                </li>
            </ul>

            <!-- ternary operator reduction 10% -->
            <!-- <p>Total: {{cartTotal > 1000 ? cartTotal * 0.9 : cartTotal}}</p> -->

            <!-- Affichage du total -->
            <h3>
                💰 Total : <span>{{cartTotal}}€</span>
                <span v-if="cartTotal > 1000">
                    <s>{{cartTotal}}€</s> ➝
                    <strong>{{cartTotal * 0.9}}€ (-10%)</strong>
                </span>
            </h3>

            <p v-if="cart.length === 0">Votre panier est vide.</p>
        </div>


        <div class="gadget-container">
            <div class="gadget" v-for="(gadget, index) in gadgets" :key="gadget.id">
                <img :src="gadget.image" :alt="gadget.name" />
                <h2>{{ gadget.name }}</h2>
                <p>{{ gadget.price }} €</p>
                <p>{{ formatStock(gadget.inStock) }}</p>
                <button @click="addToCart(gadget)">Ajouter au panier</button>
            </div>
        </div>
    </div>



    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>