<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./assets/style.css" />
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <p>{{ details }}</p>

        <div class="cart">
            <h2>🛒 Mon Panier {{cart.length}}</h2>

            <ul>
                <li v-for="item in cart" :key="item.id">
                    <p>{{item.name}}</p>
                    <button class="remove-btn" @click="removeFromCart(item, index)">❌</button>
                </li>
            </ul>

            <!-- ternary operator reduction 10% -->
            <!-- <p>Total: {{cartTotal > 1000 ? cartTotal * 0.9 : cartTotal}}</p> -->

            <!-- Affichage du total -->
            <h3>
                💰 Total : <span>{{cartTotal}}€</span>
                <span v-if="cartTotal > 1000">
                    <s>{{cartTotal}}€</s> ➝
                    <strong>{{cartTotal * 0.9}}€ (-10%)</strong>
                </span>
            </h3>

            <p v-if="cart.length === 0">Votre panier est vide.</p>
        </div>


        <div class="gadget-container">
            <gadget-display v-for="gadget in gadgets" :key="gadget.id" :gadget="gadget" @add-to-cart="addToCart">
            </gadget-display>
        </div>
    </div>



    <!-- Import App -->
    <script src="./main.js"></script>

    <script src="./components/GadgetDisplay.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>